
main {
    text-align: center;
}
#board {
    margin: auto;
    background-color: black;
    width: 62vmin;
}
#grid {

    display: grid;

    grid-template-columns: 20vmin 20vmin 20vmin;
    grid-template-rows: 20vmin 20vmin 20vmin;
    grid-gap: 1vmin;
    background-color: black;
}

#grid * {
    font-family: 'Permanent Marker', cursive;
    background-color: white;
    border: 0;
    font-size: 14vmin;
    text-align: center; 
    box-shadow: none;
    border-radius: 0px;
    outline: none;
    justify-items: center;
    align-items: center;
}

#p1 {

    color: olive;
}

#p2 {
    color: tomato;
}

#reset {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    outline: none;
}

#reset:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
#reset:active {
	position:relative;
	top:1px;
}