
main {
    text-align: center;
}
#board {
    margin: auto;
    background-color: black;
    width: 62vmin;
}
#grid {

    display: grid;

    grid-template-columns: 20vmin 20vmin 20vmin;
    grid-template-rows: 20vmin 20vmin 20vmin;
    grid-gap: 1vmin;
    background-color: black;
}

#grid * {
    font-family: 'Permanent Marker', cursive;
    background-color: white;
    border: 0;
    font-size: 14vmin;
    text-align: center; 
    box-shadow: none;
    border-radius: 0px;
    outline: none;
    justify-items: center;
    align-items: center;
}

#p1 {

    color: olive;
}

#p2 {
    color: tomato;
}